li#menu-item-168 a:first-child {
    position: absolute;
}

body::after {
	background-image: url('../images/piano.jpeg');
	background-image: cover;
	background-position: center center;
	opacity: 0.5;
}

.color-primary {
	color: $brand-primary;
}
.bg-primary {
	background-color: $brand-primary;
}
.bg-secondary {
	background-color: $brand-success;
}
.color-secondary {
	color: $brand-success;
}
.bg-gray {
	background-color: gray;
}
.bg-white {
	background-color: white;
}

// ******************************************************************
// * FONTS
// ******************************************************************

h1, h2, h3, h4, h5 {
	// font-family: 'Kaushan Script';
	font-family: 'Montserrat Alternates', sans-serif;
	color: $brand-success;
}
p, span, a, li {
	// font-family: 'Montserrat';
	font-family: 'Source Sans Pro', sans-serif;
}


// ******************************************************************
// * HOMEPAGE
// ******************************************************************

.cards {
	box-shadow: 0px 1px 6px rgba(0, 0, 0, .25);
}

.img-card {
	height: 213px !important;
    width: 100%;
    background-size: cover;
    // background-position: center center;
}

// ******************************************************************
// * Footer
// ******************************************************************
.socials {
	box-shadow: 0px 1px 6px rgba(0, 0, 0, .25);
	
	.btn {
		border-radius: 0px;
	}
}
// ******************************************************************
// * Header
// ******************************************************************
.banner {
	background-color: #F5F5F5;
}