/* ==========================================================================
   Padding
   ========================================================================== */
.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}
.nopadding-mobile {
  @include max-screen(424px) { 
    padding: 0px !important;
    margin: 0px !important;
  }
}
.pad-top {
  padding-top: 20px;
}
.pad-top-2 {
  padding-top: 40px;
}
.pad-bot {
  padding-bottom: 20px;
}
.pad-bot-2 {
  padding-bottom: 40px;
}
.pad-left {
  padding-left: 15px;
}
.pad-right {
  padding-right: 15px;
}
.margin-top {
  margin-top: 20px;
}
.margin-top-2 {
  margin-top: 40px;
}
.margin-bot {
  margin-bottom: 20px;
}
.margin-bot-2 {
  margin-bottom: 40px;
}
.margin {
  margin: 10px
}
/* ==========================================================================
   Fonts & Colors
   ========================================================================== */

// .small {
//   font-size: $font-size-base; // ~14px
// }
.base {
  font-size: 1.16rem;  // 14pm
}
.medium {
  font-size: 1.15rem; // ~16px
}
.large {
  font-size: 1.4rem; // ~18px
  @include max-screen(400px) { 
      font-size: 4vw;
  }
  @include min-screen(1280px) { font-size: 18px; }
}
.twenty-one {
  font-size: 1.75rem; // ~21px
}
.twenty-six {
  font-size: 2.16rem; // ~26px
}
.huge {
  font-size: 3rem; // ~36
  @include max-screen(400px) { 
      font-size: 6vw;
  }
  @include min-screen(1280px) { font-size: 33px; }
}
.sixty-six {
  font-size: 5.5rem; // ~66
  @include max-screen(400px) { 
      font-size: 9vw;
  }
}
.hundred {
 font-size: 8.3rem; // ~66
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.bolder {
  font-weight: bolder;
}
/* ==========================================================================
   Layout & Rows
   ========================================================================== */

// Apply this to the enclosing row
.row-centered {
  text-align: center;
  display: table-row;
  
}
// Apply this to the cols within the row
.col-centered {
  display: table-cell;
  float: none;
  vertical-align: top;
  @include max-screen(768px) { display: inline; }
}

.full-width {
  width: 100% !important;
}

.row-middle {
  display: flex;
  align-items: center; 
}

.img-center {
  margin: 0px auto;
}


/* ==========================================================================
   Columns
   ========================================================================== */

.twoColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.threeColumns {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;

}
/* ==========================================================================
   Colors
   ========================================================================== */
